:root{
    --color-dark-section: #1f1f1f;
}

/* color */

.ms_bg_newgame{
    background-color: var(--color-dark-section);
}

/* common */

.ms-h-fix{
    height: 20px;
}


.ms_mt_fix{
    margin-top: 112px;
}


.ms-bg-img{
    background-position: center;
    background-size: cover;
}

#ms_bg_jumbo{
    background-image: url('../img/jumbo-bg.png');
}

#ms_bg_banner{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}